
.header {
  padding: .5rem;
  color: white;
  background-color: #405a63;
  box-shadow: 0 0 5px;
  display: flex;
}

.item-menu {
  color: white;
  text-align: center;
}

.menu{
  margin-top: -1rem;
}

.item {
  flex-grow: 1;
}

.item:hover .submenu {
  display: block;
}

.title {
  padding: 1rem;
  transition: background-color .25s, color .25s;
}
.title:hover {
  color: white;
}

.submenu {
  position: absolute;
  top: 3rem;
  left: 0rem;
  width: 100%;
  border: 1px solid white;
  background-color: #405a63;
  display: none;
}

.subitem {
  padding: 1rem;
  transition: background-color .25s, color .25s;
}
.subitem:hover {
  background-color: #5a808c;
  color: white;
  font-family: 'EB Garamond', serif;
}

.header-items-list {
  flex-grow: 1;
  display: flex;
  justify-content: space-evenly;
  margin-left: -5rem;
}

.item-nome {
  display: inline-flex;
  align-items: center;
}

.item-curriculo {
  display: inline-flex;
  align-items: center;
}

.item-procurar {
  display: inline-flex;
  align-items: center;
}

.lupa-image, .curriculo-image {
  margin-left: 1rem;
}

.usuario-image {
  margin-right: 1rem;
  border-radius: 50%;
}

.lupa-image, .curriculo-image, .usuario-image {
  height: 2rem;
}

.header-items {
  flex-grow: 1;
  display: flex;
  align-items: center;

}

.menu-text {
  display: flex;
  align-items: center;
}

.menu-image {
}

.menu-link {
  text-decoration: none;
  color: white;
  font-family: 'EB Garamond', serif;
}
.menu-link:hover {
  text-decoration: underline;
}

.menu-image {
  height: 2rem;
}

.footer, .text-footer {
  padding: .5rem;
  color: white;
  background-color: #405a63;
  justify-content: space-evenly;
  display: flex;
  flex-grow: 1;
}
.body{

  font-family: 'EB Garamond', serif;
}

.desc_usuario{
  margin: 4rem;
  display: flex;
  align-items: center ;
  justify-content: center;
  width: 80%
}

.figure1{
  width: 33%;

}
.imagem1{
  width: 100%;
  border: 50rem;
  border-radius: 50%;
}


.biografia{
 max-width: 20rem;
 padding-left: 2rem;
 text-align: justify;
 width: 33%;

}

.biografia-texto-1{
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: #405a63;


}

.texto_intro{
  margin-top: 1rem;
  font-size: 1rem;
  padding-left: 12rem;
  align-self: center;
}

.links{

 color: #405a63;
 text-decoration: none;

}


.categoriasproj{
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;


}


.categoria{
  padding: 1rem;
  display: flex;

}

.desc{
  padding-left: 2rem;
  width: 15rem;
  justify-content: center;
  flex-direction: column;
  align-items: center;



}


.figure{

}

.imagem{
  width: 15rem;
  height: 10rem;
  padding-left: 3rem;
}

.titulo{
  font-family: 'Montserrat', sans-serif;
  color: #405a63;
}

.bodydes{
 margin-top: .5rem;

}

hr {
    display: none;
  
}


@media (max-width: 414px) {

 .menu-title {
    font-weight: bold;
    text-align: center;
    flex-grow: 1;
    display: block;
  }
  .menu-title {
    display: none;
  }
  .menu-figure {
    display: block;
  }

  .procurar-texto, .curriculo-texto {
    display: none;
  }


  .menu-image {
    height: 2rem;
  }

  .usuario-image{
    display: block;
  }

  .curriculo-image {
    display: none;
  }

  .menu-list {
    flex-grow: 1;
    display: flex;
    justify-content: space-evenly;
    margin-left: 4rem;
  }

 
  .main {
    padding: 1rem;
  }

  .biografia{

    padding: .3rem;

  } 

  .desc_usuario{
    margin: .2rem;
    display: flex;
    align-items: center ;
    justify-content: center;
    width: 80%

  }

  .figure1{
    width: 60%
  }


  .biografia-texto-1{
    font-size: 1.5rem;

  }
  .textobio{
   width: 9rem;
 }

 .texto_intro{
  display: none;
  padding-left: 2rem;
  align-self: center;
  text-align: justify;
  width: 20rem;
  justify-content: center;
}
.categoriasproj{
  grid-template-columns: 1fr;

}

.imagem{

  width:8rem;
  height: 4rem;
  padding-left: 1rem;
  border: 50rem;
  border-radius: 50%;
}

.categoria{
  padding: 0rem;
  display: flex;
  margin-top: 3rem;
}

.desc{
  padding-left: 1rem;
  width: 10rem;
  justify-content: center;
  flex-direction: column;
}
.bodydes{
  text-align: justify;

}

hr {

    display: block;
    height: 0.1rem;
    border: 0;
    border-top: 0.15rem solid #405a63 ;
    margin: 1rem 0;
    padding: 0;
   
}    


}



































